/* General Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
    color: #333;
    background: url('./images/vecteezy_modern-background-abstract-gaming-background_6464622_690/gamebackground.jpg') no-repeat center center fixed;
    background-size: cover;
  }
  
/* Navbar */
.navbar {
    position: relative;
    background: url('C:/Users/kylee/OneDrive/Documents/Manidoo Clients/Computer Repair/images/Elgie’s.zip') no-repeat center center;
    background-size: cover;
    color: white;
    padding: 0.5rem 2rem;
    overflow: hidden;
  }
  
  .navbar::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    z-index: 1;
  }
  
  .navbar ul {
    display: flex;
    justify-content: center;
    list-style: none;
    position: relative;
    z-index: 2;
  }
  
  .navbar li {
    margin: 0 1rem;
  }
  
  .navbar a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s;
  }
  
  .navbar a:hover {
    color: #feffae;
    text-shadow: 0 0 5px #5c2be2be, 0 0 15px #892be293, 0 0 20px #0000ffc9, 0 0 30px #0000ffc5;
  }
        
  /* Footer */
  .footer {
    text-align: center;
    padding: 1rem;
    background: #333;
    color: white;
  }